	{% extends "base.html" %}
{% block titulo %}Agregar una Reserva{% endblock %}
{% block contenido %}
	{%if errorPagada or errorIdCliente or errorIdVehiculo%}
		<div class="container">
		<h3>Corrige los siguientes errores para continuar:</h3>
		<p class="text-error">
			{% if errorIdCliente %}
				El cliente no existe.<br>
			{% endif %}
			{% if errorIdVehiculo %}
				No tenemos en nuestro inventario este vehiculo.<br>
			{% endif %}
			{% if errorPagada %}
				No puede ser registrada como pagada si no existen datos de pago.<br>
			{% endif %}
		</p>
	</div>
	{%else %}
		<form method="POST" action="/reservas/agregar/" name="agregarReservas">
				{% csrf_token %}
				<div class="container">
				<h3>Ingrese los datos de la reserva.</hs3>
				<table class="table-bordered table-striped table-hover">
					<tbody>
					    <tr>
					        <td><label>Placa del Vehiculo:</label></td>
					        <td><input type="text" name="idVehiculo" value="{{placa}}" required="true" pattern="[A-Z]{3}[0-9]{3}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Numero de Documento Usuario:</label></td>
					        <td><input type="text" name="idCliente" required="true" pattern="[a-zA-z0-9_-]{6,20}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha de Inicio:</label></td>
					        <td><input type="date" name="fechaInicio" required="true"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha Fin:</label></td>
					        <td><input type="date" name="fechaFin" required="true"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Lugar de Recogida:</label></td>
					        <td><input type="text" name="lugar" required="true"/>*</td>
					    </tr>
					    <tr>
					    	<td><input type="submit" value="Agregar Reserva" name="agregarReserva"/>
						</tr>				    
					</tbody>
				</table>
				<p class="text-info">Por favor ingrese todos los campos requeridos (*)</p>
				</div>
		</form>
	{%endif %}
{% endblock %}