{% extends "base.html" %}
{% block titulo %}Agregar un Vehículo{% endblock %}
{% block contenido %}
	{%if errorPlaca or errorTipoDeFrenos or errorNumDePasajeros or errorGama or errorAirbags or errorMdelo or errorValorGarantia or errorKilometraje or errorCajaDeCambios or errorEstado or errorTipoDeDireccion or errorTipoDetraccion or errorCamposVaciosVeh or errorFechas  or errorEnteros or errorLongDatos%}
		<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorPlaca %}
				La placa del vehiculo tiene un formato erroneo o el vehiculo ya se encuentra registrado.<br>
			{% endif %}
			{% if errorNumDePasajeros %}
				El numero de pasajeros que ingresaste es incorrecto.<br>
			{% endif %}
			{% if errorGama %}
				La gama que seleccionaste es incorrecta.<br>
			{% endif %}
			{% if errorAirbags %}
				El numero de airbags que ingresaste es incorrecto.<br>
			{% endif %}
			{% if errorModelo %}
				El numero de modelo que ingresaste es incorrecto.<br>
			{% endif %}
			{% if errorValorGarantia %}
				El valor de la garantia que ingresaste es incorrecto.<br>
			{% endif %}
			{% if errorKilometraje %}
				El kilometraje que ingresaste es incorrecto.<br>
			{% endif %}
			{% if errorCajaDeCambios %}
				la caja de cambios que seleccionaste es incorrecta.<br>
			{% endif %}
			{% if errorEstado %}
				El estado que seleccionaste es incorrecto.<br>
			{% endif %}
			{% if errorTipoDeDireccion %}
				El tipo de direccion que seleccionaste es incorrecto.<br>
			{% endif %}
			{% if errorTipoDeTraccion %}
				El tipo de traccion que seleccionaste es incorrecto.<br>
			{% endif %}
			{% if errorFoto %}
				Por favor incluye una foto del automovil.<br>
			{% endif %}
			{% if errorCamposVaciosVeh %}
				Por favor, llena todos los campos obligatorios. <br>
			{% endif %}
			{% if errorFechas %}
				Una o mas fechas no son correctas, si tu navegador no muestra un campo de fecha intenta con el formato aaaa-mm-dd.<br>
			{% endif %}
			{% if errorEnteros %}
				Uno o mas números son demasiado grandes. Verifica los datos. <br>
			{% endif %}
			{% if errorLongDatos %}
				Alguno de los campos tiene una longitud mayor a la soportada. La marca, la referencia y el color no deben exceder los 15 caracteres. La descripción no debe exceder los 100.
			{% endif %}
		</p>
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/vehiculos/agregar/" name="agregarVehiculo"  enctype="multipart/form-data">
				{% csrf_token %}
				<h4>Ingrese los datos del vehiculo.</h4>
				<table class="table-bordered table-striped table-hover">
					<tbody>
						<tr>
					        <td><label>Placa:</label></td>
					        <td><input type="text" name="placa" required="true" pattern="[A-Z]{3}[0-9]{3}" value="{{placa}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Marca:</label></td>
					        <td><input type="text" name="marca" required="true" value="{{marca}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Referencia:</label></td>
					        <td><input type="text" name="referencia" required="true" value="{{referencia}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Gama:</label></td>
					        <td>
					        	<select name="gama" required="true">
					        		<option selected> {{gama}} </option>
					        		{% for ga in  gamas%}
					        		 {% if ga != gama%}
					        			<option>{{ga}}</option>
					        		{% endif %}
					        		{% endfor %}
					        	</select>*
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Descripcion Basica:</label></td>
					        <td><input type="text" name="descripcionBasica" required="true" value="{{descripcionBasica}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Tipo de Frenos:</label></td>
					        <td>
					        	<select name="tipoDeFrenos">
					        		<option selected> {{tipoDeFrenos}} </option>
					        		{% for tf in  tiposDeFrenos%}
					        		{%if tf != tipoDeFrenos %}
					        			<option>{{tf}}</option>
					        		{% endif %}
					        		{% endfor %}
					        	</select>
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Número de Pasajeros:</label></td>
					        <td><input type="text" name="numDePasajeros" required="true" pattern="[0-9]{1,2}" value="{{numDePasajeros}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Cilindraje:</label></td>
					        <td><input type="text" name="cilindraje" required="true" value="{{cilindraje}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Color:</label></td>
					        <td><input type="text" name="color" required="true" value="{{color}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Caja de Cambios:</label></td>
					        <td>
					        	<select name="cajaDeCambios" required="true" value="{{cajaDeCambios}}">
					        		<option selected> {{cajaDeCambios}} </option>
					        		{% for c in  cajasDeCambios%}
					        		{%if c != cajaDeCambios%}
					        			<option>{{c}}</option>
					        		{%endif%}
					        		{% endfor %}
					        	</select>*
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Airbags:</label></td>
					        <td><input type="text" name="airbags" pattern="[0-9]{1,2}" value="{{airbags}}"/></td>
					    </tr>
					    <tr>
					        <td><label>Tipo de Direccion:</label></td>
					        <td>
					        	<select name="tipoDeDireccion" value="{{tipoDeDireccion}}">
					        		<option selected> {{tipoDeDireccion}} </option>
					        		{% for td in  tipoDeDirecciones%}
					        		{% if  td != tipoDeDireccion%}
					        			<option>{{td}}</option>
					        		{% endif %}
					        		{% endfor %}
					        	</select>
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Tipo de Traccion:</label></td>
					        <td>
					        	<select name="tipoDeTraccion" value="{{tipoDeTraccion}}">
					        		<option selected> {{tipoDeTraccion}} </option>
					        		{% for tr in  tiposTraccion%}
					        		{% if  tr != tipoDeTraccion%}
					        			<option>{{tr}}</option>
					        		{%endif %}
					        		{% endfor %}
					        	</select>
					    	</td>
					    </tr>
				    <tr>
				        <td><label>Modelo:</label></td>
				        <td><input type="text" name="modelo" pattern="[0-9]{4}" value="{{modelo}}"/></td>
				    </tr>
				    <tr>
				        <td><label>Valor de la Garantia:</label></td>
				        <td><input type="text" name="valorGarantia" pattern="[0-9]{5,7}" value="{{valorGarantia}}"/></td>
				    </tr>
				    <tr>
				        <td><label>Estado:</label></td>
				        <td>
				        	<select name="estado" required="true" value="{{estado}}">
				        		<option selected> {{estado}} </option>
				        		{% for e in  estadosVehiculo%}
				        		{%if e != estado %}
				        			<option>{{e}}</option>
				        		{%endif %}
				        		{% endfor %}

				        </select>*
				    </td>
				    </tr>
				    <tr>
				        <td><label>Kilometraje:</label></td>
				        <td><input type="text" name="kilometraje" pattern="[0-9]{1,6}" value="{{kilometraje}}"/></td>
				    </tr>
				    <tr>
				        <td><label>Limite de Kilometraje:</label></td>
				        <td><input type="text" name="limiteKilometraje" required="true" value="{{limiteKilometraje}}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Tarifa:</label></td>
				        <td><input type="text" name="tarifa" required="true" value="{{tarifa}}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Fecha de Vencimiento de SOAT:</label></td>
				        <td><input type="date" name="fechaVencSOAT" required="true" value="{{fechaVencSOAT}}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Fecha de Vencimiento del Seguro Todo Riesgo:</label></td>
				        <td><input type="date" name="fechaVencSeguroTodoRiesgo" required="true" value="{{fechaVencSeguroTodoRiesgo}}"/>*</td>
				    </tr>
				    <tr>
				    	<td><label>Fecha de Vencimiento de la Revision Tecnico Mecanica:</label></td>
				    	<td><input type="date" name="fechaVencRevisionTecMec" required="true" value="{{fechaVencRevisionTecMec}}"/>*</td>
				    </tr>
				    <tr>
				    	<td><label>Fecha de Vencimiento de Cambio de Aceite:</label></td>
				        <td><input type="date" name="fechaVencCambioAceite" required="true" value="{{fechaVencCambioAceite}}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Imagen del Auto:</label></td>
				        <td><input type="file" name="foto" value="{{foto}}" required="true"/>*</td>
				    </tr>
				 	<tr>
					      <td><input type="submit" value="Agregar Vehiculo" name="agregarVehiculo"/>
					</tr>
				</tbody>
			</table>
			<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}