{%extends "base.html"%}
{% block titulo %}Agregar Historial Mantenimiento{% endblock %}
{% block contenido %}
    <div class="container">
        {% if errorPlaca or errorFecha or errorTipo or errorCosto or errorDescripcion or errorServicio%}
            <p class="text-error">
                {% if errorPlaca%}
                    La placa no es correcta o no se encuentra en el sistema.<br>
                {% endif %}
                {% if errorFecha %}
                    La fecha no es correcta, si tu navegador no muestra un campo de fecha intenta con el formato aaaa-mm-dd.<br>
                {% endif %}
                {% if  errorTipo%}
                    El tipo debe ser alguno de los valores:
                    {% for t in tipo %}
                        {{t}},
                    {% endfor %}
                    <br>
                {% endif %}
                {% if  errorCosto%}
                    El costo debe ser un número entre 3 y 10 cifras. <br>
                {% endif %}
                {% if  errorDescripcion%}
                    La descripción no debe exceder los 200 caracteres. <br>
                {% endif %}
                {% if  errorServicio%}
                    El servicio no se encuentra.
                {% endif %}
            </p>
        {% endif %}
        {% if exito %}
            <p class="text-info">
                El mantenimiento se agregó exitosamente.
            </p>
        {% endif %}
		<form method="POST" action="/vehiculos/historialMantenimiento/agregar/" name="agregarManteninmmento">
            {% csrf_token %}
            <h1>Ingresa los datos del mantenimiento</h1>
            <table class="table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td><label>Placa:</label></td>
                        <td><input type="text" name="placa" required="true" pattern="[A-Z]{3}[0-9]{3}" value="{{placa}}"/>*</td>
                    </tr>
                    <tr>
                        <td><label>Fecha:</label></td>
                        <td><input type="date" name="fecha" required="true" value="{{fecha}}"/>*</td>
                    </tr>
                    <tr>
                        <td><label>Descripcion:</label></td>
                        <td><input type="text" name="descripcion" value="{{descripcion}}"/></td>
                    </tr>
                    <tr>
                        <td><label>Costo:</label></td>
                        <td><input type="text" name="costo" required="true" pattern="[0-9]{3,10}" value="{{costo}}"/>*</td>
                    </tr>
                    <tr>
                        <td><label>Tipo:</label></td>
                        <td>
                            <select name="tipo" required="true" value="{{tipo}}">
                                {% for t in  tipos%}
                                    <option>{{t}}</option>
                                {% endfor %}
                            </select>*
                        </td>
                    </tr>
                    <tr>
                        <td><label>Servicio:</label></td>
                        <td>
                            <select name="servicio" required="true" value="{{servicio}}">
                                {% for s in  servicios%}
                                    <option>{{s}}</option>
                                {% endfor %}
                            </select>*
                        </td>
                    </tr>
            </table>
            <input type="submit" value="Agregar Mantenimiento" name="agregar"/>
        </form>
	</div>
{% endblock %}