	{% extends "base.html" %}
{% block titulo %}Agregar Contrato{% endblock %}
{% block contenido %}
	{%if errorIdContrato or errorNumDocumento or errorCamposVacios or errorCamposLargos or errorFecha or errorEdad%}
		<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorIdContrato %}
				No se encuentra el contrato solicitado ingresado. <br>
			{% endif %}
			{% if errorNumDocumento %}
				El número de documento ingresado no es válido.<br>
			{% endif %}
			{% if errorCamposVacios %}
				Algunos campos están vacíos, por favor completa todos los campos requeridos.<br>
			{% endif %}
			{% if errorCamposLargos %}
				Los nombres, apellidos y licencia no deben exceder los 20 caracteres. El tipo de sangre no debe exceder los 6.<br>
			{% endif %}
			{% if errorFecha %}
				El formato de fecha no es correcto, si tu navegador no muestra un campo de fecha intenta con el formato aaaa-mm-dd. <br>
            {% endif %}
            {% if errorEdad %}
            	El conductor debe tener mínimo 21 años.<br>
            {% endif %}
		</p>
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/contratos/agregarConductor/" name="agregarContratos">
				{% csrf_token %}
				<h3>Ingrese los datos del conductor.</h3>
				<table class="table-bordered table-striped table-hover">
					<tbody>
						<input type="hidden" name="idContrato" value="{{idContrato}}" required="true"/>
						<tr>
					        <td><label>Documento de Identidad:</label></td>
					        <td><input type="text" name="docIdentidad" value="{{docIdentidad}}" required="true" pattern="([a-zA-z0-9_-]{6,20})"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Nombres:</label></td>
					        <td><input type="text" name="nombres" value="{{nombres}}" required="true"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Apellidos:</label></td>
					        <td><input type="text" name="apellidos" value="{{apellidos}}" required="true"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Licencia:</label></td>
					        <td><input type="text" name="licencia" value="{{licencia}}" required="true" />*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha de nacimiento:</label></td>
					        <td><input type="date" name="fechaNacimiento" value="{{fechaNacimiento}}" required="true"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Tipo de Sangre:</label></td>
					        <td><input type="text" name="tipoSangre" value="{{tipoSangre}}" required="true"/>*</td>
					    </tr>
					    <tr>
					    	<td><input type="submit" value="Agregar Conductor" name="agregarConductor"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}