	{% extends "base.html" %}
{% block titulo %}Agregar una Reserva{% endblock %}
{% block contenido %}
	{%if errorPagada or errorIdCliente or errorIdVehiculo or errorFechas or errorLugares%}
		<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorIdCliente %}
				El cliente no existe o el id del cliente es invalido.<br>
			{% endif %}
			{% if errorIdVehiculo %}
				No tenemos en nuestro inventario este vehiculo.<br>
			{% endif %}
			{% if errorPagada %}
				No puede ser registrada como pagada si no existen datos de pago.<br>
			{% endif %}
			{% if errorFechas %}
				La fecha de inicio debe ser menor a la de fin y debe ser mayor a la fecha actual.<br>
            {% endif %}
            {% if errorLugares %}
				Los lugares de reocgida y entrega deben seleccionarse entre las opciones.<br>
            {% endif %}
		</p>
	</div>
	{%else %}
	<div class="container">
		<form method="POST" action="/reservas/agregar/" name="agregarReservas">
				{% csrf_token %}
				<h3>Ingrese los datos de la reserva.</hs3>
				<table class="table-bordered table-striped table-hover">
					<a class="btn" href="/vehiculos/">Ver vehículos</a>
					<tbody>
					    <tr>
					        <td><label>Placa del Vehiculo:</label></td>
					        <td><input type="text" name="idVehiculo" value="{{idVehiculo}}" required="true" pattern="[a-zA-Z]{3}[0-9]{3}"/>*</td>
					    </tr>
					    {% if not is_staff %}
					    <tr>
					        <td><input type="hidden" name="idCliente" value="{{numDocumento}}" required="true" pattern="[a-zA-z0-9_-]{6,20}"/></td>
					    </tr>
					    {% else %}
					    <tr>
					        <td><label>Numero de Documento Usuario:</label></td>
					        <td><input type="text" name="idCliente" value="{{idCliente}}" required="true" pattern="[a-zA-z0-9_-]{6,20}"/>*</td>
					    </tr>
					    {% endif %}
					    <tr>
					        <td><label>Fecha de Inicio:</label></td>
					        <td><input type="date" name="fechaInicio" value="{{fechaInicio}}" required="true"/>*</td>
					    </tr>
					    <tr>
					    	<td><label>Hora Inicio:</label></td>
							<td><input type="time" name="horaInicio" value="{{horaInicio}}" required="true"/>*</td>
						</tr>
					    <tr>
					        <td><label>Fecha Fin:</label></td>
					        <td><input type="date" name="fechaFin" value="{{fechaFin}}" required="true"/>*</td>
					    </tr>
						<tr>
							<td><label>Hora Fin:</label></td>
							<td><input type="time" name="horaFin" value="{{horaFin}}" required="true"/>*</td>
						</tr>
					    <tr>
					    	<td><label>Lugar de Recogida:</label></td>
					    	<td>
	                            <select name="lugarRecogida" required="true">
	                                <option selected>{{lugarRecogida}}</option>
	                                {% for l in  lugares%}
	                                    {% if l != lugarRecogida %}
                                            <option>{{l}}</option>
                                        {% endif %}
	                                {% endfor %}
	                            </select>*
                        	</td>
					    </tr>
					    <tr>
					    	<td><label>Lugar de Entrega:</label></td>
					    	<td>
	                            <select name="lugarEntrega" required="true">
	                                <option selected>{{lugarEntrega}}</option>
	                                {% for l in  lugares%}
	                                    {% if l != lugarEntrega %}
                                            <option>{{l}}</option>
                                        {% endif %}
	                                {% endfor %}
	                            </select>*
                        	</td>
					    </tr>
					    <tr>
					    	<td><input type="submit" value="Agregar Reserva" name="agregarReserva"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
	{%endif %}
{% endblock %}