{% extends "base.html" %}
{% block titulo %}Agregar un Vehículo{% endblock %}
{% block contenido %}
	{%if errorPlaca %}	
		<div class="container">
		<h3>Corrige los siguientes errores para continuar:</h3>
		<p class="text-error">
			{% if errorPlaca %}
				La placa del vehiculo tiene un formato erroneo.<br>
			{% endif %}

		</p>
	</div>
	{% endif %}
	<form method="POST" action="/vehiculos/agregar/" name="agregarVehiculo">
			{% csrf_token %}			
			<div class="container">
			<h3>Ingrese los datos del vehiculo.</hs3>
			<table class="table-bordered table-striped table-hover">
				<tbody>
					<tr>
				        <td><label><b>Placa:</b>:</label></td>
				        <td><input type="text" name="placa" required="true" pattern="[A-Z0-9]{6}"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Marca:</b></label></td>
				        <td><input type="text" name="marca" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Referencia:</b></label></td>
				        <td><input type="text" name="referencia" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Gama:</b></label></td>
				        <td><input type="text" name="gama" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Descripcion Basica:</b></label></td>
				        <td><input type="text" name="descripcionBasica" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Tipo de Frenos:</label></td>
				        <td><input type="text" name="tipoDeFrenos"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Numero de Pasajeros:</b></label></td>
				        <td><input type="text" name="numDePasajeros" required="true" pattern="[0-9]{1,2}"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Cilindraje:</b></label></td>
				        <td><input type="text" name="cilindraje" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Color:</b></label></td>
				        <td><input type="text" name="color" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Caja de Cambios:</b></label></td>
				        <td>
				        	<select name="cajaDeCambios" required="true">
				        		{% for c in  cajasDeCambios%}
				        			<option>{{c}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Airbags:</label></td>
				        <td><input type="text" name="airbags" "[0-9]{1,2}"/></td>
				    </tr>
				    <tr>
				        <td><label>Tipo de Direccion:</label></td>
				        <td>
				        	<select name="tipoDeDireccion" required="true">
				        		{% for t in  tipoDeDirecciones%}
				        			<option>{{t}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Tipos de Traccion:</label></td>
				        <td>
				        	<select name="tipoDeTraccion">
				        		{% for tr in  tiposTraccion%}
				        			<option>{{tr}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Modelo:</label></td>
				        <td><input type="text" name="modelo"/></td>
				    </tr>
				    <tr>
				        <td><label>Valor de la Garantia:</label></td>
				        <td><input type="text" name="valorGarantia"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Estado:</b></label></td>
				        <td>
				        	<select name="estado" required="true">
				        		{% for e in  estadosVehiculo%}
				        			<option>{{e}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Kilometraje:</label></td>
				        <td><input type="text" name="kilometraje"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Limite de Kilometraje:</b></label></td>
				        <td><input type="text" name="limiteKilometraje" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Tarifa:</b></label></td>
				        <td><input type="text" name="tarifa" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Fecha de Vencimiento de SOAT:</b></label></td>
				        <td><input type="date" name="fechaVencSOAT" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Fecha de Vencimiento del Seguro Todo Riesgo:</b></label></td>
				        <td><input type="date" name="fechaVencSeguroTodoRiesgo" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Fecha de Vencimiento de la Revision Tecnico Mecanica:</b></label></td>
				        <td><input type="date" name="fechaVecRevisionTecMec" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label><b>Fecha de Vencimiento de Cambio de Aceite:</b></label></td>
				        <td><input type="date" name="fechaVencCambioAceite" required="true"/></td>
				    </tr>

				    <tr>
				        <td><label>Imagen del Auto:</label></td>
				        <td><input type="file" name="imagen"/></td>
				    </tr>


				    <tr>
				        <td><input type="submit" value="Agregar Vehiculo" name="agregarVehiculo"/>
				    </tr>
				</tbody>			
			</table>
			</div>		
		</form>
{% endblock %}