{% extends "base.html" %}
{% block titulo %}Agregar Datos de Alquiler{% endblock %}
{% block contenido %}
	{%if errorIdContrato or errorIdContratoExists or errorIdReserva or errorIdReservaExists or errorContratoReserva or errorFechas or errorFormatoFechas or errorHoras or errorKmInicial or errorKmFinal or errorMetodoPago or errorLugares%}
	<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorIdContrato %}
				El Id del contrato asociado no existe o es invalido.<br>
			{% endif %}
			{% if errorIdContratoExists %}
				El Id del contrato ya esta asociado a otros datos de alquiler.<br>
			{% endif %}
			{% if errorIdReserva %}
				el Id de la reserva asociada no existe o es invalida.<br>
			{% endif %}
			{% if errorIdReservaExists %}
				el Id de la reserva asociada ya esta asociado a otros datos de alquiler.<br>
			{% endif %}
			{% if errorContratoReserva %}
				los datos de esta reserva no coinciden con los datos del contrato.<br>
			{% endif %}
			{% if errorFechas %}
				La fecha de devolucion tiene que ser despues de la fecha de alquiler y de la fecha actual.<br>
			{% endif %}
			{% if errorFormatoFechas %}
				Las fechas tienen un formato incorrecto.<br>
			{% endif %}
			{% if errorHoras %}
				Las horas tienen un formato incorrecto.<br>
			{% endif %}
			{% if errorFechaAlquiler %}
				La fecha de alquiler es invalida.<br>
			{% endif %}
			{% if errorFechaDevolucion %}
				La fecha de devolucion es invalida.<br>
			{% endif %}
			{% if errorKmInicial %}
				El kilometraje inicial es invalido.<br>
			{% endif %}
			{% if errorKmFinal %}
				el kilometraje final es invalido.<br>
			{% endif %}
			{% if errorMetodoPago %}
				El metodo de pago ingresado es invalido.<br>
			{% endif %}
			{% if errorLugares %}
				Los lugares de recogida son invalidos.<br>
			{% endif %}
		</p>
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/alquiler/agregar/" name="agregarDatosAlquiler">
				{% csrf_token %}
				<h3>Ingrese los datos del alquiler.</h3>
				<table class="table-bordered table-striped table-hover">
					<p>
						<a class="btn" href="/contratos/">Ver Contratos</a>
					</p>
					<tbody>
						<tr>
					        <td><label>ID Contrato:</label></td>
					        <td><input type="text" name="idContrato" value="{{idContrato}}" required="true" pattern="[1-9]{1,5}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>ID Reserva:</label></td>
					        <td><input type="text" name="idReserva" value="{{idReserva}}"/></td>
					    </tr>
					    <tr>
					        <td><label>Metodo de pago:</label></td>
					        <td>
					        	<select name="metodoPago" required="true">
					        		<option selected>{{metodoPago}}</option>
					        		{% for mp in  metodosPago%}
					        		<option>{{mp}}</option>
					        		{% endfor %}
					        	</select>*
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Tarifa Establecida:</label></td>
					        <td><input type="text" name="tarifaEstablecida" required="true" value="{{tarifaEstablecida}}" />*</td>
					    </tr>
					    <tr>
					        <td><label>Tarifa Aplicada:</label></td>
					        <td><input type="text" name="tarifaAplicada" required="true" value="{{tarifaAplicada}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha Alquiler:</label></td>
					        <td><input type="date" name="fechaAlquiler" required="true" value="{{fechaAlquiler}}"/>*</td>
					    </tr>
					    <tr>
					    	<td><label>Hora Alquiler:</label></td>
							<td><input type="time" name="horaAlquiler" required="true" value="{{horaAlquiler}}"/>*</td>
						</tr>
					    <tr>
					        <td><label>Fecha Devolucion:</label></td>
					        <td><input type="date" name="fechaDevolucion" required="true" value="{{fechaDevolucion}}"/>*</td>
					    </tr>
					    <tr>
					    	<td><label>Hora Devolucion:</label></td>
							<td><input type="time" name="horaDevolucion" required="true" value="{{horaDevolucion}}"/>*</td>
						</tr>
					    <tr>
					        <td><label>Kilometraje Inicial:</label></td>
					        <td><input type="text" name="kmInicial" required="true" value="{{kmInicial}}" pattern="[0-9]{1,6}" readonly="readonly"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Kilometraje Final:</label></td>
					        <td><input type="text" name="kmFinal"  required="true" value="{{kmFinal}}" pattern="[0-9]{1,6}"/>*</td>
					    </tr>
					    <tr>
					    	<td><label>Lugar de Recogida:</label></td>
					    	<td>
	                            <select name="lugarRecogida" required="true">
	                                <option selected>{{lugarRecogida}}</option>
	                                {% for l in  lugares%}
	                                    {% if l != lugarRecogida %}
                                            <option>{{l}}</option>
                                        {% endif %}
	                                {% endfor %}
	                            </select>*
                        	</td>
					    </tr>
					    <tr>
					    	<td><label>Lugar de Entrega:</label></td>
					    	<td>
	                            <select name="lugarEntrega" required="true">
	                                <option selected>{{lugarEntrega}}</option>
	                                {% for l in  lugares%}
	                                    {% if l != lugarEntrega %}
                                            <option>{{l}}</option>
                                        {% endif %}
	                                {% endfor %}
	                            </select>*
                        	</td>
					    </tr>					 
					    <tr>
					    	<td><input class='btn' type="submit" value="Agregar Datos de Alquiler" name="agregarDatosAlquiler"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}