{% extends "base.html" %}
{% block titulo %}Agregar o Modificar un Vehículo{% endblock %}
{% block contenido %}
	<form method="POST" action="/vehiculos/agregar/" name="agregarVehiculo">
			{% csrf_token %}			
			<div class="container">
			<h3>Ingrese los datos del vehiculo.</hs3>
			<table class="table-bordered table-striped table-hover">
				<tbody>
					<tr>
				        <td><label>Placa:</label></td>
				        <td><input type="text" name="placa" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Marca:</label></td>
				        <td><input type="text" name="marca" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Referencia:</label></td>
				        <td><input type="text" name="referencia" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Gama:</label></td>
				        <td><input type="text" name="gama" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Descripcion Basica:</label></td>
				        <td><input type="text" name="descripcionBasica" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Tipo de Frenos:</label></td>
				        <td><input type="text" name="tipoDeFrenos"/></td>
				    </tr>
				    <tr>
				        <td><label>Numero de Pasajeros:</label></td>
				        <td><input type="number" name="numDePasajeros" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Cilindraje:</label></td>
				        <td><input type="text" name="cilindraje" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Color:</label></td>
				        <td><input type="text" name="color" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Caja de Cambios:</label></td>
				        <td>
				        	<select name="cajaDeCambios" required="true">
				        		{% for c in  cajasDeCambios%}
				        			<option>{{c}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Airbags:</label></td>
				        <td><input type="text" name="airbags"/></td>
				    </tr>
				    <tr>
				        <td><label>Tipo de Direccion:</label></td>
				        <td>
				        	<select name="tipoDeDireccion" required="true">
				        		{% for t in  tipoDeDirecciones%}
				        			<option>{{t}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Traccion:</label></td>
				        <td>
				        	<select name="traccion">
				        		{% for tr in  tiposTraccion%}
				        			<option>{{tr}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Modelo:</label></td>
				        <td><input type="text" name="modelo"/></td>
				    </tr>
				    <tr>
				        <td><label>Valor de la Garantia:</label></td>
				        <td><input type="text" name="valorGarantia"/></td>
				    </tr>
				    <tr>
				        <td><label>Estado:</label></td>
				        <td>
				        	<select name="estado" required="true">
				        		{% for e in  estadosVehiculo%}
				        			<option>{{t}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Kilometraje:</label></td>
				        <td><input type="text" name="kilometraje"/></td>
				    </tr>
				    <tr>
				        <td><label>Limite de Kilometraje:</label></td>
				        <td><input type="text" name="limiteKilometraje" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Tarifa:</label></td>
				        <td><input type="text" name="tarifa" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Fencha de Vencimiento de SOAT:</label></td>
				        <td><input type="text" name="fechaVencSOAT" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Fecha de Vencimiento del Seguro Todo Riesgo:</label></td>
				        <td><input type="text" name="fechaVencSeguroTodoRiesgo" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Fecha de Vencimiento de la Revision Tecnico Mecanica:</label></td>
				        <td><input type="text" name="fechaVecRevisionTecMec" required="true"/></td>
				    </tr>
				    <tr>
				        <td><label>Fecha de Vencimiento de Cambio de Aceite:</label></td>
				        <td><input type="text" name="fechaVencCambioAceite" required="true"/></td>
				    </tr>


				    <tr>
				        <td><input type="submit" value="Regístrate" name="registrar"/>
				    </tr>
				</tbody>			
			</table>
			</div>		
		</form>
{% endblock %}