</body>
</html lang="es">
<!DOCTYPE HTML>
<html>
	<head>
		<title>Your Car - {% block titulo %}Inicio{% endblock %}</title>
		{%block css%} 
		<link rel="stylesheet" type="text/css" href="/media/css/estilos.css"/>
		{% endblock%}
	</head>

	<body>
		<nav>
			
				<li><a href="/">Inicio</a></li>
				<li><a href="/portal">Portal</a></li>
				<li><a href="/vehiculos">Vehículos</a></li>				
				<li>Reservas</li>				
				{% if request.user.is_staff %}
					<li>Agregar vehículos</li>
					<li>Estadísticas</li>
					<li>Alertas</li>
				{% endif %}
				{% if request.user.is_authenticated %}
					<li><a href="/logout">Cerrar sesión</a></li>
				{% else %}
					<li><a href="/registro">Regístrate</a></li>
				{% endif %}				

		</nav>
		{% block contenido %}{% endblock %}
		{% block footer %}
			<p>Gracias por visitar nuestro sitio.</p>
		{% endblock %}
	</body>
</html>
