{% extends "base.html" %}
{% block titulo %}Inventario Vehiculo.{% endblock %}
{% block contenido %}
	{%if errorChecklistExists %}
	<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorChecklistExists %}
				Checklist ya existente.<br>
			{%endif %}
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/alquiler/checklist/" name="checklistVehiculo">
				{% csrf_token %}
				{%if not datosAlquiler.cierre%}
				<h3>Ingresa los datos de salida del inventario de vehiculo.</h3>
				{%else%}
				<h3>Ingresa los datos de retorno del inventario de vehiculo.</h3>
				{%endif%}
				<table class="table-bordered table-striped table-hover">
					<thead>
						<td></td>
						<td>Si</td>
						<td>No</td>
					</thead>
					<tbody>
                        <tr>
					        <td>Documentos del Auto: </td>
					        <td><input type="radio" name="documentosDelAuto" value="1" {%if documentosDelAuto == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="documentosDelAuto" value="0" {%if documentosDelAuto == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Radio: </td>
					        <td><input type="radio" name="radio" value="1" {%if radio == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="radio" value="0" {%if radio == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Tapetes: </td>
					        <td><input type="radio" name="tapetes" value="1" {%if tapetes == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="tapetes" value="0" {%if tapetes == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Llanta de Repuesto: </td>
					        <td><input type="radio" name="llantaDeRepuesto" value="1" {%if llantaDeRepuesto == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="llantaDeRepuesto" value="0" {%if llantaDeRepuesto == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Gato: </td>
					        <td><input type="radio" name="gato" value="1" {%if gato == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="gato" value="0" {%if gato == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Cruceta: </td>
					        <td><input type="radio" name="cruceta" value="1" {%if cruceta == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="cruceta" value="0" {%if cruceta == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Nivel de Aceite del Motor y Frenos: </td>
					        <td><input type="radio" name="nivelAceiteDelMotorFrenos" value="1" {%if nivelAceiteDelMotorFrenos == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="nivelAceiteDelMotorFrenos" value="0" {%if nivelAceiteDelMotorFrenos == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Nivel de Refrigerante: </td>
					        <td><input type="radio" name="nivelRefrigerante" value="1" {%if nivelRefrigerante == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="nivelRefrigerante" value="0" {%if nivelRefrigerante == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Latoneria y Pintura: </td>
					        <td><input type="radio" name="latoneriaYPintura" value="1" {%if latoneriaYPintura == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="latoneriaYPintura" value="0" {%if latoneriaYPintura == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Tapizado: </td>
					        <td><input type="radio" name="tapizado" value="1" {%if tapizado == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="tapizado" value="0" {%if tapizado == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Cinturones de Seguridad: </td>
					        <td><input type="radio" name="cinturonesDeSeguridad" value="1" {%if cinturonesDeSeguridad == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="cinturonesDeSeguridad" value="0" {%if cinturonesDeSeguridad == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Controles Internos: </td>
					        <td><input type="radio" name="controlesInternos" value="1" {%if controlesInternos == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="controlesInternos" value="0" {%if controlesInternos == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Instrumentos del Panel: </td>
					        <td><input type="radio" name="instrumentosDelPanel" value="1" {%if instrumentosDelPanel == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="instrumentosDelPanel" value="0" {%if instrumentosDelPanel == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Pito: </td>
					        <td><input type="radio" name="pito" value="1" {%if pito == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="pito" value="0" {%if pito == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Reloj con Hora Correcta: </td>
					        <td><input type="radio" name="relojConHoraCorrecta" value="1" {%if relojConHoraCorrecta == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="relojConHoraCorrecta" value="0" {%if relojConHoraCorrecta == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Limpiabrisas: </td>
					        <td><input type="radio" name="limpiabrisas" value="1" {%if limpiabrisas == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="limpiabrisas" value="0" {%if limpiabrisas  == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Liquido de Limpiabrisas: </td>
					        <td><input type="radio" name="liquidoDeLimpiabrisas" value="1" {%if liquidoDeLimpiabrisas == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="liquidoDeLimpiabrisas" value="0" {%if liquidoDeLimpiabrisas == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Seguro Central: </td>
					        <td><input type="radio" name="seguroCentral" value="1" {%if seguroCentral == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="seguroCentral" value="0" {%if seguroCentral == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Eleva Vidrios: </td>
					        <td><input type="radio" name="elevaVidrios" value="1" {%if elevaVidrios == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="elevaVidrios" value="0" {%if elevaVidrios == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Aire Acondicionado: </td>
					        <td><input type="radio" name="aireAcondicionado" value="1" {%if aireAcondicionado == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="aireAcondicionado" value="0" {%if aireAcondicionado == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Cojineria: </td>
					        <td><input type="radio" name="cojineria" value="1" {%if cojineria == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="cojineria" value="0" {%if cojineria == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Luces Internas: </td>
					        <td><input type="radio" name="lucesInternas" value="1" {%if lucesInternas == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="lucesInternas" value="0" {%if lucesInternas == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Luces Medias, Delanteras y Traseras: </td>
					        <td><input type="radio" name="lucesMediasDelanterasYTraseras" value="1" {%if lucesMediasDelanterasYTraseras  == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="lucesMediasDelanterasYTraseras" value="0" {%if lucesMediasDelanterasYTraseras == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Luces Altas y Bajas: </td>
					        <td><input type="radio" name="lucesAltasYBajas" value="1" {%if lucesAltasYBajas  == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="lucesAltasYBajas" value="0" {%if lucesAltasYBajas == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Direccionales Delanteras y Traseras: </td>
					        <td><input type="radio" name="direccionalesDelantesYTraseras" value="1" {%if direccionalesDelantesYTraseras == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="direccionalesDelantesYTraseras" value="0" {%if direccionalesDelantesYTraseras == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Luz de Freno: </td>
					        <td><input type="radio" name="luzDeFreno" value="1" {%if luzDeFreno == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="luzDeFreno" value="0" {%if luzDeFreno == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Luz de Reversa: </td>
					        <td><input type="radio" name="luzDeReversa" value="1" {%if luzDeReversa == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="luzDeReversa" value="0" {%if luzDeReversa == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Antena de Radio: </td>
					        <td><input type="radio" name="antenaDeRadio" value="1" {%if antenaDeRadio == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="antenaDeRadio" value="0" {%if antenaDeRadio == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Rines: </td>
					        <td><input type="radio" name="rines" value="1" {%if rines == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="rines" value="0" {%if rines == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Farolas y Stops: </td>
					        <td><input type="radio" name="farolasYStops" value="1" {%if farolasYStops == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="farolasYStops" value="0" {%if farolasYStops == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Exploradoras: </td>
					        <td><input type="radio" name="exploradoras" value="1" {%if exploradoras == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="exploradoras" value="0" {%if exploradoras == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Retrovisores: </td>
					        <td><input type="radio" name="retrovisores" value="1" {%if retrovisores == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="retrovisores" value="0" {%if retrovisores == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Cristales (Vidrios): </td>
					        <td><input type="radio" name="cristalesVidrios" value="1" {%if cristalesVidrios == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="cristalesVidrios" value="0" {%if cristalesVidrios == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Chapas: </td>
					        <td><input type="radio" name="chapas" value="1" {%if chapas == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="chapas" value="0" {%if chapas == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Llaves: </td>
					        <td><input type="radio" name="llaves" value="1" {%if llaves == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="llaves" value="0" {%if llaves == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					    <tr>
					        <td>Kit Carretera: </td>
					        <td><input type="radio" name="kitCarretera" value="1" {%if kitCarretera == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="kitCarretera" value="0" {%if kitCarretera == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					 </tbody>
					    <tr>
					    	<input name="idDatosAlquiler" value="{{idDatosAlquiler}}" type="hidden">
					    	<td><input class='btn' type="submit" value="Guardar" name="guardarChecklist"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}