{% extends "base.html" %}
{% block titulo %}Inventario Vehiculo.{% endblock %}
{% block contenido %}
	{%if errorChecklistExists %}
	<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorChecklistExists %}
				Checklist ya existente.<br>
			{%endif %}
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/alquiler/checklist/" name="checklistVehiculo">
				{% csrf_token %}
				{%if not datosAlquiler.cierre%}
				<h3>Ingresa los datos de salida del inventario de vehiculo.</h3>
				{%else%}
				<h3>Ingresa los datos de retorno del inventario de vehiculo.</h3>
				{%endif%}
				<table class="table-bordered table-striped table-hover">
					<thead>
						<td></td>
						<td>Si</td>
						<td>No</td>
					</thead>
					<tbody>
                        <tr>
					        <td>Documentos del Auto: </td>
					        <td><input type="radio" name="documentosDelAuto" value="1" {%if documentosDelAuto == 1%} checked="checked" {%endif%}></td>
					        <td><input type="radio" name="documentosDelAuto" value="0" {%if documentosDelAuto == 0%} checked="checked" {% elif not cierre %} checked="checked" {%endif%}></td>
					    </tr>
					 </tbody>
					    <tr>
					    	<input name="idDatosAlquiler" value="{{idDatosAlquiler}}" type="hidden">
					    	<td><input class='btn' type="submit" value="Guardar" name="guardarChecklist"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}