{% extends "base.html" %}
{% block titulo %}Agregar Datos de Cierre de Alquiler{% endblock %}
{% block contenido %}
	{%if errorFechas or errorFormatoFechas or errorHoras or errorKmInicial or errorKmFinal or errorMetodoPago%}
	<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorFechas %}
				La fecha de devolucion tiene que ser despues de la fecha de alquiler y de la fecha actual.<br>
			{% endif %}
			{% if errorFormatoFechas %}
				Las fechas tienen un formato incorrecto.<br>
			{% endif %}
			{% if errorHoras %}
				Las horas tienen un formato incorrecto.<br>
			{% endif %}
			{% if errorKmInicial %}
				El kilometraje inicial es invalido.<br>
			{% endif %}
			{% if errorKmFinal %}
				el kilometraje final es invalido.<br>
			{% endif %}
			{% if errorMetodoPago %}
				El metodo de pago ingresado es invalido.<br>
			{% endif %}
		</p>
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/alquiler/cierre/" name="cierreDatosAlquiler">
				{% csrf_token %}
				<h3>Ingrese los datos de cierre del alquiler.</h3>
				<table class="table-bordered table-striped table-hover">
					<tbody>
						<tr>
					        <td><label>ID Contrato:</label></td>
					        <td><input type="text" name="idContrato" value="{{idContrato}}" required="true" pattern="[1-9]{1,5}" readonly="readonly"/></td>
					    </tr>
					    <tr>
					        <td><label>ID Reserva:</label></td>
					        <td><input type="text" name="idReserva" {% if datosAlquiler.idReserva != None %} value="{{idReserva}}" {% endif %} readonly="readonly"/></td>
					    </tr>
					    <tr>
					        <td><label>Metodo de pago:</label></td>
					        <td>
					        	<select name="metodoPago" required="true">
					        		<option selected>{{metodoPago}}</option>
					        		{% for mp in  metodosPago%}
					        		{% if mp != datosAlquiler.metodoPago %}
					        		<option>{{mp}}</option>
					        		{% endif %}
					        		{% endfor %}
					        	</select>*
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Tarifa Establecida:</label></td>
					        <td><input type="text" name="tarifaEstablecida" required="true" value="{{tarifaEstablecida}}" readonly="readonly"/></td>
					    </tr>
					    <tr>
					        <td><label>Tarifa Aplicada:</label></td>
					        <td><input type="text" name="tarifaAplicada" required="true" value="{{tarifaAplicada}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha Alquiler:</label></td>
					        <td><input type="date" name="fechaAlquiler" required="true" value="{{fechaAlquiler}}"/>*</td>
					    </tr>
					    <tr>
					    	<td><label>Hora Alquiler:</label></td>
							<td><input type="time" name="horaAlquiler" required="true" value="{{horaAlquiler}}"/>*</td>
						</tr>
					    <tr>
					        <td><label>Fecha Devolucion:</label></td>
					        <td><input type="date" name="fechaDevolucion" required="true" value="{{fechaDevolucion}}"/>*</td>
					    </tr>
					    <tr>
					    	<td><label>Hora Devolucion:</label></td>
							<td><input type="time" name="horaDevolucion" required="true" value="{{horaDevolucion}}"/>*</td>
						</tr>
					    <tr>
					        <td><label>Kilometraje Inicial:</label></td>
					        <td><input type="text" name="kmInicial" required="true" value="{{kmInicial}}" pattern="[0-9]{1,6}" readonly="readonly"/></td>
					    </tr>
					    <tr>
					        <td><label>Kilometraje Final:</label></td>
					        <td><input type="text" name="kmFinal"  required="true" value="{{kmFinal}}" pattern="[0-9]{1,6}"/>*</td>
					    </tr>
					    <tr>
					    	<td><input type="hidden" name="idDatosAlquiler" value="{{idDatosAlquiler}}" required="true"/>*</td>
					    	<td><input class='btn' type="submit" value="Cerrar Datos de Alquiler" name="cierreDatosAlquiler"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}