{% extends "base.html" %}
{% block titulo %}Agregar Datos de Cierre de Alquiler{% endblock %}
{% block contenido %}
	{%if errorFechas or errorFechaAlquiler or errorFechaDevolucion or errorKmInicial or errorKmFinal or errorMetodoPago%}
	<div class="container">
		<h4>Corrige los siguientes errores para continuar:</h4>
		<p class="text-error">
			{% if errorFechas %}
				La fecha de devolucion tiene que ser despues de la fecha de alquiler y de la fecha actual.<br>
			{% endif %}
			{% if errorFechaAlquiler %}
				La fecha de alquiler es invalida.<br>
			{% endif %}
			{% if errorFechaDevolucion %}
				La fecha de devolucion es invalida.<br>
			{% endif %}
			{% if errorKmInicial %}
				El kilometraje inicial es invalido.<br>
			{% endif %}
			{% if errorKmFinal %}
				el kilometraje final es invalido.<br>
			{% endif %}
			{% if errorMetodoPago %}
				El metodo de pago ingresado es invalido.<br>
			{% endif %}
		</p>
	</div>
	{%endif %}
	<div class="container">
		<form method="POST" action="/alquiler/cierre/" name="cierreDatosAlquiler">
				{% csrf_token %}
				<h3>Ingrese los datos de cierre del alquiler.</h3>
				<table class="table-bordered table-striped table-hover">
					<tbody>
						<tr>
					        <td><label>ID Contrato:</label></td>
					        <td>{{datosAlquiler.idContrato.idContrato}}</td>
					        <td><input type="hidden" name="idContrato" value="{{datosAlquiler.idContrato.idContrato}}" required="true" pattern="[1-9]{1,5}"/></td>
					    </tr>
					    <tr>
					        <td><label>ID Reserva:</label></td>
					        {%if datosAlquiler.idReserva != None %}
					        <td>{{datosAlquiler.idReserva}}</td>
					        {% else %}
					        <td></td>
					        {% endif %}
					        <td><input type="hidden" name="idReserva" {% if datosAlquiler.idReserva != None %} value="{{datosAlquiler.idReserva.idReserva}}" {% endif %}/></td>
					    </tr>
					    <tr>
					        <td><label>Metodo de pago:</label></td>
					        <td>
					        	<select name="metodoPago" required="true">
					        		<option selected>{{datosAlquiler.metodoPago}}</option>
					        		{% for mp in  metodosPago%}
					        		{% if mp != datosAlquiler.metodoPago %}
					        		<option>{{mp}}</option>
					        		{% endif %}
					        		{% endfor %}
					        	</select>*
					    	</td>
					    </tr>
					    <tr>
					        <td><label>Tarifa Establecida:</label></td>
					        <td>{{datosAlquiler.tarifaEstablecida}}</td>
					        <td><input type="hidden" name="tarifaEstablecida" required="true" value="{{datosAlquiler.tarifaEstablecida}}"/></td>
					    </tr>
					    <tr>
					        <td><label>Tarifa Aplicada:</label></td>
					        <td><input type="text" name="tarifaAplicada" required="true" value="{{datosAlquiler.tarifaAplicada}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha Alquiler:</label></td>
					        <td><input type="date" name="fechaAlquiler" required="true" value="{{fechaAlquiler}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Fecha Devolucion:</label></td>
					        <td><input type="date" name="fechaDevolucion" required="true" value="{{fechaDevolucion}}"/>*</td>
					    </tr>
					    <tr>
					        <td><label>Kilometraje Inicial:</label></td>
					        <td>{{datosAlquiler.kmInicial}}</td>
					        <td><input type="hidden" name="kmInicial" required="true" value="{{datosAlquiler.kmInicial}}" pattern="[0-9]{1,6}"/></td>
					    </tr>
					    <tr>
					        <td><label>Kilometraje Final:</label></td>
					        <td><input type="text" name="kmFinal"  required="true" value="{{datosAlquiler.kmFinal}}" pattern="[0-9]{1,6}"/>*</td>
					    </tr>
					    <tr>
					    	<td><input type="hidden" name="idDatosAlquiler" value="{{datosAlquiler.idDatosAlquiler}}" required="true"/>*</td>
					    	<td><input type="submit" value="Cerrar Datos de Alquiler" name="cierreDatosAlquiler"/></td>
						</tr>
					</tbody>
				</table>
				<p class="text-info"><h4>Por favor ingrese todos los campos requeridos (*)</h4></p>
		</form>
	</div>
{% endblock %}