{% extends "base.html" %}
{% block titulo %}Cotizar{% endblock %}
{% block contenido %}
	<div class="container">
		{% if errorPlaca or errorFechas1 or errorFechas2 or errorHoras%}
			{% if errorPlaca %}
				<p class="text-error">Por favor ingrese una placa correcta.</p>
			{% endif %}
			{% if errorFechas1 %}
				<p class="text-error">La fecha no es correcta, si tu navegador no muestra un campo de fecha intenta con el formato aaaa-mm-dd.</p>
			{% endif %}
            {% if errorFechas2 %}
                <p class="text-error">La fecha de inicio debe ser menor a la de fin y debe ser mayor a la fecha actual.</p>
            {% endif %}
            {% if errorHoras %}
                <p class="text-error">La hora no es correcta, si tu navegador no muestra el formato de hora por favor ingresalo de esta forma: hh:mm:x.m.</p>
            {% endif %}
		{% endif %}
		<form method="POST" action="/cotizar/" name="verMantenimiento">
            {% csrf_token %}
			<table>
				<thead>
					<th>Placa</th>
					<th>Fecha Inicio</th>
					<th>Fecha Fin</th>
					<th>Hora Inicio</th>
					<th>Hora Fin</th>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="text" name="placa" required="true" value="{{placa}}" pattern="[A-Z]{3}[0-9]{3}">
						</td>
						<td>
							<input type="date" name="fechaIni" required="true" value="{{fechaIni}}">
						</td>
						<td>
							<input type="date" name="fechaFin" required="true" value="{{fechaFin}}">
						</td>
						<td>
							<input type="time" name="horaIni" required="true" value="{{horaIni}}">
						</td>
						<td>
							<input type="time" name="horaFin" required="true" value="{{horaFin}}">
						</td>
					</tr>
				</tbody>
			</table>
			<input type="submit" value="Cotizar" name="cotizar"/>
        </form>
        <a class="btn" href="/vehiculos/">Ver vehículos</a>
        <p class="text-info">
            Las 12 p.m. son las del medio día, las 12 a.m. son la media noche.
        </p>
        {% if cotizado %}
        	<p>
        		<table class="table-bordered table-striped table-hover">
        			<tr>
        				<td>Total días</td>
        				<td>{{cotizacion.diasReal}}</td>
        			</tr>
        			<tr>
        				<td>Total Horas</td>
        				<td>{{cotizacion.horasReal}}</td>
        			</tr>
        			<tr>
        				<td>Total días a cobrar</td>
        				<td>{{cotizacion.dias}}</td>
        			</tr>
        			<tr>
        				<td>Total horas a cobrar</td>
        				<td>{{cotizacion.horas}}</td>
        			</tr>
        			<tr>
        				<td>Tarifa día</td>
        				<td class="number">{{cotizacion.tarifaDia}}</td>
        			</tr>
        			<tr>
        				<td>Limite de kms por día</td>
        				<td>{{cotizacion.limiteKilometraje}}</td>
        			</tr>
                    <tr>
                        <td>Máximo de kms totales</td>
                        <td>{{cotizacion.maxKms}}</td>
                    </tr>
        			<tr>
        				<td>Tarifa hora</td>
        				<td>{{cotizacion.tarifaHora}}</td>
        			</tr>
        			<tr>
        				<td>Total Por días</td>
        				<td>{{cotizacion.totalPorDias}}</td>
        			</tr>
        			<tr>
        				<td>Total Por Horas</td>
        				<td>{{cotizacion.totalPorHoras}}</td>
        			</tr>
        			<tr>
        				<td><strong>Total</strong></td>
        				<td><strong>{{cotizacion.total}}</strong></td>
        			</tr>
        		</table>
            </p>
		{% endif %}
	</div>
{% endblock %}