{%extends "base.html"%}
{% block titulo %}Detalles de Contrato {{contrato.idContrato}}{% endblock %}
{% block contenido %}
    <div class="container">
        <p class="text-success">
            {% if addSuccess %}
                Los datos de alquiler se agregaron exitosamente. <br>
            {% endif %}
        </p>
        <div class="span4">
        	<table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Datos de Alquiler.</h4>
                        <tr>
                            <td>Id Contrato</td>
                            <td>{{datosAlquiler.idContrato.idContrato}}</td>
                        </tr>
                        <tr>
                            <td>ID Reserva</td>
                            <td>{{datosAlquiler.idReserva.idReserva}}</td>
                        </tr>
                        <tr>
                            <td>Metodo de Pago</td>
                            <td>{{datosAlquiler.metodoPago}}</td>
                        </tr>
                        <tr>
                            <td>Tarifa Establecida</td>
                            <td>{{datosAlquiler.tarifaEstablecida}}</td>
                        </tr>
                        <tr>
                            <td>Tarifa Aplicada</td>
                            <td>{{datosAlquiler.tarifaAplicada}}</td>
                        </tr>
                        <tr>
                            <td>Fecha Alquiler</td>
                            <td>{{datosAlquiler.fechaAlquiler}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Devolucion</td>
                            <td>{{datosAlquiler.fechaDevolucion}}</td>
                        </tr>
                        <tr>
                            <td>Total Dias</td>
                            <td>{{datosAlquiler.totalDias}}</td>
                        </tr>
                        <tr>
                            <td>Kilometraje Inicial</td>
                            <td>{{datosAlquiler.kmInicial}}</td>
                        </tr>
                        <tr>
                            <td>Kilometraje Final</td>
                            <td>{{datosAlquiler.kmFinal}}</td>
                        </tr>
                        <tr>
                            <td>Valor Alquiler</td>
                            <td>{{datosAlquiler.valorAlquiler}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Informacion Contrato.</h4>
                        <tr>
                            <td>ID Contrato </td>
                            <td>{{contrato.idContrato}}</td>
                        </tr>
                        <tr>
                            <td>ID Voucher</td>
                            <td>{{contrato.idVoucher.codigoAutorizacion}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Inicio</td>
                            <td>{{contrato.fechaInicio}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Fin</td>
                            <td>{{contrato.fechaFin}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Informacion Vehiculo.</h4>
                        <tr>
                            <td>Placa</td>
                            <td>{{vehiculo.placa}}</td>
                        </tr>
                        <tr>
                            <td>Marca</td>
                            <td>{{vehiculo.marca}}</td>
                        </tr>
                        <tr>
                            <td>Referencia</td>
                            <td>{{vehiculo.referencia}}</td>
                        </tr>
                        <tr>
                            <td>Gama</td>
                            <td>{{vehiculo.gama}}</td>
                        </tr>
                        <tr>
                            <td>Valor Garantia</td>
                            <td>{{vehiculo.valorGarantia}}</td>
                        </tr>
                        <tr>
                            <td>Limite Kilometraje</td>
                            <td>{{vehiculo.limiteKilometraje}}</td>
                        </tr>
                        <tr>
                            <td>Tarifa</td>
                            <td>{{vehiculo.tarifa}}</td>
                        </tr>
                    </tbody>
                </table>
                {%if checklistExists %}
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Checklist del Vehiculo.</h4>
                        <tr>
                            <td>Cierre?</td>
                            <td>{{checklistVehiculo.cierre}}</td>
                        </tr>
                        <tr>
                            <td>Docs del Auto</td>
                            {%if checklistVehiculo.docsDelAuto == 0 %}
                            <td>Si</td>
                            {%else %}
                            <td>No</td>
                            {%endif%}
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                {%if registro %}
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Cambios en el vehiculo</h4>
                        <tr>
                            <td>Docs del Auto</td>
                            <td>{{registro.docsDelAuto}}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
        </div>
        <div class="span5">
        	<p>
        		<a class="btn" href="/alquiler">Regresar a Datos de Alquiler</a>
        	</p>
            <form method="GET" action="/facturas/agregar/" name="agregarFactura">
                    {% csrf_token %}
                    <input name="idDatosAlquiler" value="{{datosAlquiler.idDatosAlquiler}}" type="hidden">
                    <input class="btn" type="submit" value="Agregar Factura" name="agregarFactura" {%if not datosAlquiler.cierre %} disabled="disabled" {% endif %}/>
                </form>
            <form method="GET" action="/alquiler/cierre/" name="cierreAlquiler">
                    {% csrf_token %}
                    <input name="idDatosAlquiler" value="{{datosAlquiler.idDatosAlquiler}}" type="hidden">
                    <input class="btn" type="submit" value="Cerrar Datos de Alquiler" name="cierreAlquiler" {%if datosAlquiler.cierre or not checklistExists %} disabled="disabled" {% endif %}/>
                </form>
            <form method="GET" action="/alquiler/checklist/" name="agregarChecklistVehiculo">
                    {% csrf_token %}
                    <input name="idDatosAlquiler" value="{{datosAlquiler.idDatosAlquiler}}" type="hidden">
                    <input class="btn" type="submit" value="Agregar Checklist del Vehiculo" name="agregarChecklistVehiculo" {%if checklistExists %} disabled="disabled" {% endif %} />
                </form>
        </div>
    </div>
{% endblock %}