{%extends "base.html"%}
{% block titulo %}Detalles de Contrato {{contrato.idContrato}}{% endblock %}
{% block contenido %}
    <div class="container">
        <p class="text-success">
            {% if addSuccess %}
                El contrato se agregó exitosamente. <br>
            {% endif %}
            {% if addDriverSuccess %}
                El conductor se agregó exitosamente. <br>
            {% endif %}
        </p>
        <div class="span12">
            <div class="span4">
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Información del Cliente</h4>
                        <tr>
                            <th>Nombres</th>
                            <td>{{user.first_name}}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{user.last_name}}</td>
                        </tr>
                        <tr>
                            <th>Tipo de Persona</th>
                            <td>{{cliente.tipoPersona}}</td>
                        </tr>
                        <tr>
                            <th>Tipo de Documento</th>
                            <td>{{cliente.tipoDocumento}}</td>
                        </tr>
                        <tr>
                            <th>Documento</th>
                            <td>{{cliente.numDocumento}}</td>
                        </tr>
                        <tr>
                            <th>Dirección</th>
                            <td>{{cliente.dirResidencia}}</td>
                        </tr>
                        <tr>
                            <th>Teléfono Fijo</th>
                            <td>{{cliente.telFijo}}</td>
                        </tr>
                        <tr>
                            <th>Teléfono Celular</th>
                            <td>{{cliente.telCelular}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Información del Voucher</h4>
                        <tr>
                            <th>Código Autorizacion</th>
                            <td>{{voucher.codigoAutorizacion}}</td>
                        </tr>
                        <tr>
                            <th>Monto Voucher</th>
                            <td>{{voucher.montoVoucher}}</td>
                        </tr>
                        <tr>
                            <th>Tarjeta de Crédito</th>
                            <td>{{voucher.numTarjetaCredito}}</td>
                        </tr>
                        <tr>
                            <th>Nombre banco</th>
                            <td>{{voucher.nombreBanco}}</td>
                        </tr>
                        <tr>
                            <th>Franquicia</th>
                            <td>{{voucher.franquicia}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span4">
                <table class="table-bordered table-striped table-hover">
                    <tbody>
                        <h4>Información del Vehículo</h4>
                        <tr>
                            <th>Placa</th>
                            <td>{{vehiculo.placa}}</td>
                        </tr>
                        <tr>
                            <th>Marca</th>
                            <td>{{vehiculo.marca}}</td>
                        </tr>
                        <tr>
                            <th>Referencia</th>
                            <td>{{vehiculo.referencia}}</td>
                        </tr>
                        <tr>
                            <th>Gama</th>
                            <td>{{vehiculo.gama}}</td>
                        </tr>
                        <tr>
                            <th>Valor Garantia</th>
                            <td>{{vehiculo.valorGarantia}}</td>
                        </tr>
                        <tr>
                            <th>Limite Kilometraje</th>
                            <td>{{vehiculo.limiteKilometraje}}</td>
                        </tr>
                        <tr>
                            <th>Tarifa</th>
                            <td>{{vehiculo.tarifa}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-bordered table-striped table-hover">
                    <h4>Fechas del contrato</h4>
                    <tbody>
                        <tr>
                            <th>Fecha de Inicio</th>
                            <td>{{contrato.fechaInicio}}</td>
                        </tr>
                        <tr>
                            <th>Fecha de Fin</th>
                            <td>{{contrato.fechaFin}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span2">
                <p>
                    <a class="btn" href="/contratos">Regresar a contratos</a>
                </p>
                <form method="GET" action="/contratos/agregarConductor/" name="agregarConductor">
                    {% csrf_token %}
                    <input name="idContrato" value="{{contrato.idContrato}}" type="hidden">
                    <input class="btn" type="submit" value="Agregar Conductor Autorizado" name="agregarConductor"/>
                </form>
                <form method="GET" action="/contratos/agregarConductor/" name="agregarConductor">
                    {% csrf_token %}
                    <input name="clienteconductor" value="True" type="hidden">
                    <input name="idContrato" value="{{contrato.idContrato}}" type="hidden">
                    <input class="btn" type="submit" value="Agregar Cliente como Conductor" name="agregarClienteConductor"/>
                </form>
                <form method="GET" action="/alquiler/agregar/" name="agregarDatosAlquiler">
                    {% csrf_token %}
                    <input name="idContrato" value="{{contrato.idContrato}}" type="hidden">
                    <input class="btn" type="submit" value="Agregar Datos Alquiler" name="agregarDatosAlquiler"/>
                </form>
            </div>
        </div>
        <div class="span12">
            <div class="span4">
                <table class="table-bordered table-striped table-hover">
                    <h4>Conductores Autorizados</h4>
                    <th>Doc. de Identidad</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Licencia</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Tipo de Sangre</th>
                    <tbody>
                        {% for c in conductores %}
                            <tr>
                                <td>{{c.docIdentidad}}</td>
                                <td>{{c.nombres}}</td>
                                <td>{{c.apellidos}}</td>
                                <td>{{c.licencia}}</td>
                                <td>{{c.fechaNacimiento}}</td>
                                <td>{{c.tipoSangre}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span12">
            <div class="span3">
                <label><strong>Firma del cliente</strong></label>
                <label>__________________</label>
            </div>
            <div class="span3">
                <label><strong>Firma del administrador</strong></label>
                <label>__________________</label>
            </div>
        </div>
    </div>
{% endblock %}