{%extends "base.html"%}
{% block titulo %}Historial Mantenimiento{% endblock %}
{% block contenido %}
    <div class="container">
		<form method="POST" action="/vehiculos/historialMantenimiento/" name="verMantenimiento">
            {% csrf_token %}
            <label>Ingresa la placa del vehículo que quieres ver:</label>
            <input name="placa" type="text" value="{{placa}}" pattern="[A-Z]{3}[0-9]{3}" required="true">
            <input type="submit" value="Buscar Vehiculo" name="buscarVehiculo"/>
        </form>
        {% if  vehiculoCargado%}
            <form method="GET" action="/vehiculos/historialMantenimiento/agregar/" name="agregarMantenimiento">
                <input name="placaActual" type="hidden" value="{{placa}}">
                <input type="submit" value="Agregar Mantenimiento" name="agregar"/>
            </form>
            <form method="POST" action="/vehiculos/historialMantenimiento/eliminar/" name="eliminarMantenimiento">
                {% csrf_token %}
                <label>Identificador del mantenimiento:</label>
    			<input name="idMantenimiento" type="text" required="true" pattern="[0-9]{1,3}" ><br>
                <input type="submit" value="Eliminar Mantenimiento" name="eliminar" onClick="if(confirm('Estás seguro?')) alert('El registro se eliminará!');else { return false; }"/>
            </form>
        {% endif %}
        	<table class="table-bordered table-striped table-hover">
        		<thead>
        			<th>IdMantenimiento</th>
    				<th>Fecha</th>
    				<th>Descripcion</th>
                    <th>Costo</th>
    				<th>Tipo</th>
                    <th>Vehículo</th>
        		</thead>
        		<tbody>
        			{% for m in mantenimientos %}
        				<tr>
        					<td>{{m.pk}}</td>
        					<td>{{m.fecha}}</td>
        					<td>{{m.descripcion}}</td>
                            <td>{{m.costo}}</td>
        					<td>{{m.tipo}}</td>
                            <td>{{m.idVehiculo}}</td>
        				</tr>
        			{% endfor %}
        		</tbody>
        	</table>
	</div>
	<div class="container">
	</div>
{% endblock %}