{%extends "base.html"%}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}		
	{%if conectado%}
		<form action="/logout/" name="logout">
			{% csrf_token %}
				<p>Estás logueado como {{nombre}}, quieres iniciar sesión como alguien más?</p>
				<div>
			        <label>Cerrar sesión:</label>			        
			        <input type="submit" value="Log out" name="logout"/>
			    </div>
		</form>
	{%else %}
		<form method="POST" action="/login/" name="login">
			{% csrf_token %}
				<h3>Inicio de Sesion</h3>
				<div>
			        <label>Nombre de usuario o correo:</label>
			        <input type="text" name="username" required="true"/>
			    </div>
			    <div>
			        <label>Contraseña:</label>
			        <input type="password" name="password" required="true"/>
			    </div>
			    <div>
			        <input type="submit" value="Log In" name="login"/>
			    </div>
			    {%if loginFailed%}
					<p>El nombre de usuario (o correo) y la contraseña no coinciden</p>
				{%endif%}
		</form>
	{%endif %}
{% endblock %}

                    