{%extends "base.html"%}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}		
	<div class="container-fluid">
				<div class="span3">
					<h2>Misión</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nostrum, reprehenderit cum in facere odio dicta tempora reiciendis necessitatibus recusandae assumenda deserunt id suscipit eius quia facilis illo molestias porro.</p>
				</div>				
				<div class="span3">
					<h2>Visión</h2>
					<p>Quod, rem, consequuntur, omnis amet error corrupti aliquid modi qui tempora porro repellat fuga unde itaque labore sint nobis natus nisi distinctio praesentium veniam sed officiis aut voluptates! Ducimus, dignissimos!</p>
				</div>
				<div class="span3">		
					<h2>Quienes somos?</h2>			
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet, magnam, atque nemo mollitia ipsa rerum dolore neque perferendis odio placeat optio inventore beatae natus iure rem commodi nisi sed</p>
				</div>	

				<div class="span3">
					{%if conectado%}
						<form action="/logout/" name="logout">
							{% csrf_token %}
								<h3>Inicio de Sesión</h3>
								<div>
									<p>Estás logueado como {{nombre}}, quieres iniciar sesión como alguien más?</p>	
							        <label>Cerrar sesión:</label>       
							        <input type="submit" value="Log out" name="logout"/>
							    </div>
						</form>
					{%else %}
						<form method="POST" action="/login/" name="login">
							{% csrf_token %}
								<h3>Inicio de Sesión</h3>
								<table class ="table-hover">
									<tbody>
										<tr>
									        
									        <td><label>Nombre de usuario o correo:</label></td>
									        <td><input type="text" name="username" required="true"/></td>
									    </tr>
									    <tr>
									        <td><label>Contraseña:</label></td>
									        <td><input type="password" name="password" required="true"/></td>
									    </tr>			    
								    </tbody>
								</table>
							    <div>
							        <input type="submit" value="Log In" name="login"/>
							    </div>
							    {%if loginFailed%}
									<p class="text-error">El nombre de usuario (o correo) y la contraseña no coinciden</p>
								{%endif%}
						</form>
					{%endif %}
				</div>		
	</div>	
{% endblock %}

                    