{%extends "base.html"%}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}		
	<div class="container-fluid">
		<div class="row-fluid">			

				<div class="span3">
					<h2>Misión</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, sit, accusamus nostrum delectus maxime possimus quas nesciunt molestiae unde temporibus amet iusto odit doloribus. Commodi, facilis atque dolores obcaecati natus.</p>
				</div>				
				<div class="span3">
					<h2>Visión</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, sit, accusamus nostrum delectus maxime possimus quas nesciunt molestiae unde temporibus amet iusto odit doloribus. Commodi, facilis atque dolores obcaecati natus.</p>
				</div>
				<div class="span3">		
					<h2>Quienes somos?</h2>			
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, amet, magnam, atque nemo mollitia ipsa rerum dolore neque perferendis odio placeat optio inventore beatae natus iure rem commodi nisi sed</p>
				</div>	

				<div class="span3">
					{%if conectado%}
						<form action="/logout/" name="logout">
							{% csrf_token %}
								<p>Estás logueado como {{nombre}}, quieres iniciar sesión como alguien más?</p>
								<div>
							        <label>Cerrar sesión:</label>			        
							        <input type="submit" value="Log out" name="logout"/>
							    </div>
						</form>
					{%else %}
						<form method="POST" action="/login/" name="login">
							{% csrf_token %}
								<h3>Inicio de Sesion</h3>
								<table table>
									<tbody>
										<tr>
									        
									        <td><label>Nombre de usuario o correo:</label></td>
									        <td><input type="text" name="username" required="true"/></td>
									    </tr>
									    <tr>
									        <td><label>Contraseña:</label></td>
									        <td><input type="password" name="password" required="true"/></td>
									    </tr>			    
								    </tbody>
								</table>
							    <div>
							        <input type="submit" value="Log In" name="login"/>
							    </div>
							    {%if loginFailed%}
									<p>El nombre de usuario (o correo) y la contraseña no coinciden</p>
								{%endif%}
						</form>
					{%endif %}
				</div>
		</div>
	</div>	
{% endblock %}

                    