{%extends "base.html"%}
{% block titulo %}Login{% endblock %}
{% block contenido %}	
	<form method="POST" action="/inicio/" name="login">
		{% csrf_token %}
			<h3>Inicio de Sesion</h3>
			<div>
		        <label>Nombre de usuario:</label>
		        <input type="text" name="username" required="true"/>
		    </div>
		    <div>
		        <label>Contraseña:</label>
		        <input type="password" name="password" required="true"/>
		    </div>
		    <div class="bottom">
		        <input type="submit" value="Login" name="login"/>
		    </div>
	</form>
{% endblock %}

                    