{% extends "base.html" %}
{% block titulo %}Parametrizar{% endblock %}
{% block contenido %}
    <div class="container">
        <h2>Modificar parámetros.</h2>
        <form method="POST" action="/parametrizar/" name="parametrizar">
            {% csrf_token %}
            {% if exito %}
                <p class="text-success">Cambios guardados exitosamente.</p>
            {% endif %}
            <p class="text-info">En cada casilla deben ir los posibles parámetros separados por comas, las opciones en listas de elección múltiple deben estar entre comillas simples y separadas por comas ",". Las listas inician y cierran con paréntesis.</p>
            <p class="text-warning">Solo debes usar tíldes en los textos, nunca en las listas de elección múltiple. Gracias</p>
            <table class="table-bordered table-striped table-hover">
                <tbody>
                   <tr>
                       <td><label>Misión</label></td>
                       <td><input name="misionInicio" value="{{param.misionInicio}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Visión</label></td>
                       <td><input name="visionInicio" value="{{param.visionInicio}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Quienes somos</label></td>
                       <td><input name="quienesSomosInicio" value="{{param.quienesSomosInicio}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Géneros (Registro cliente)</label></td>
                       <td><input name="generos" value="{{param.generos}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Tipos de Persona (Registro cliente)</label></td>
                       <td><input name="tipoPersonas" value="{{param.tipoPersonas}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Tipos de Documento (Registro cliente)</label></td>
                       <td><input name="tipoDocumentos" value="{{param.tipoDocumentos}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Cajas de cambio (Vehículos)</label></td>
                       <td><input name="cajasDeCambios" value="{{param.cajasDeCambios}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Tipos de Dirección (Vehículos)</label></td>
                       <td><input name="tipoDeDirecciones" value="{{param.tipoDeDirecciones}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Estados (Vehículos)</label></td>
                       <td><input name="estadosVehiculo" value="{{param.estadosVehiculo}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Tipos de Tracción (Vehículos)</label></td>
                       <td><input name="tiposTraccion" value="{{param.tiposTraccion}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Gamas (Vehículos)</label></td>
                       <td><input name="gamas" value="{{param.gamas}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Tipos de Mantenimento (Historial de Mantenimiento)</label></td>
                       <td><input name="tiposMantenimiento" value="{{param.tiposMantenimiento}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Tipos de Frenos (Vehículos)</label></td>
                       <td><input name="tiposDeFrenos" value="{{param.tiposDeFrenos}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Estados de pago (Reservas)</label></td>
                       <td><input name="estadosPago" value="{{param.estadosPago}}" type="text" required="true"></td>
                   </tr>
                   <tr>
                       <td><label>Número de elementos Listados por página</label></td>
                       <td><input name="numElementosPorPagina" value="{{param.numElementosPorPagina}}" type="text" required="true"></td>
                   </tr>
                    <tr>
                          <td><input type="submit" value="Guardar" name="guardarParametros"/>
                    </tr>
            </table>
        </form>
    </div>
{% endblock %}