{%extends "base.html"%}
{% block titulo %}Registro{% endblock %}
{% block contenido %}	
	{%if errorUser or errorContrasena or errorEmail or errorGenero or errorTipoPersona or errorTipoDocumento or errorTels or errorNumDocumento or errorDatosResidencia or errorCamposVacios%}	
	<div class="container">
		<h3>Corrige los siguientes errores para continuar:</h3>
		<p class="text-error">
			{% if errorUser %}
				El nombre de usuario ya está en uso o tiene caracteres incorrectos, puedes utilizar letras,números y guión bajo '_'.<br>
			{% endif %}
			{% if errorContrasena %}
				Las contraseñas no coinciden, verifica por favor.<br>
			{% endif %}
			{% if errorEmail %}
				El correo ya está en uso, intenta otro.<br>
			{% endif %}
			{% if errorGenero %}
				No seleccionaste un género correcto.<br>
			{% endif %}
			{% if errorTipoPersona %}
				No seleccionaste un tipo de persona correcto.<br>
			{% endif %}
			{% if errorTipoDocumento %}
				No seleccionaste un tipo de documento correcto.<br>
			{% endif %}
			{% if errorTels %}
				Los telefonos deben ser solo número, por favor revisa los campos de teléfono fijo, celular y de contacto.<br>
			{% endif %}
			{% if errorNumDocumento %}
				El número de documento que seleccionaste ya está en uso o no es un número.
			{% endif %}
			{% if errorDatosResidencia %}
				Por favor complete los datos de residencia.
			{% endif %}
			{% if errorCamposVacios %}
				Por favor llena todos los campos obligatorios.
			{% endif %}
		</p>
	</div>
	{% endif %}

	{%if conectado%}
		<form action="/logout/" name="logout">
			{% csrf_token %}
			<div class="container">
				<p>Ya estás registrado y logueado como {{nombreUsuario}}, para crear un nuevo usuario debes cerrar sesión primero</p>
		        <label>Cerrar sesión:</label>        
		        <input type="submit" value="Log out" name="logout"/>
		    </div>		    
		</form>
	{%else %}
		<form method="POST" action="/registro/" name="registro">
			{% csrf_token %}			
			<div class="container">
			<h3>Ingresa tus datos</hs3>
			<table class="table-bordered table-striped table-hover">
				<tbody>
					<tr>
				        <td><label>Nombre de usuario:</label></td>
				        <td><input type="text" name="nombreUsuario" required="true" pattern="[a-zA-z0-9_]{8,20}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Contraseña:</label></td>
				        <td><input type="password" name="contrasena" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Repita su Contraseña:</label></td>
				        <td><input type="password" name="contrasena2" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Email:</label></td>
				        <td><input type="email" name="email" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Nombres:</label></td>
				        <td><input type="text" name="nombre" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Apellidos:</label></td>
				        <td><input type="text" name="apellido" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Fecha de nacimiento:</label></td>
				        <td><input type="date" name="fechaNacimiento" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Telefono fijo:</label></td>
				        <td><input type="text" name="telFijo" required="true" pattern="[0-9]{7,12}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Telefono celular:</label></td>
				        <td><input type="text" name="telCelular" required="true" pattern="[0-9]{10,12}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Género:</label></td>
				        <td>
				        	<select name="genero">
				        		{% for g in  generos%}
				        			<option>{{g}}</option>
				        		{% endfor %}					        	
				        	</select>
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Tipo de persona:</label></td>
				        <td>
				        	<select name="tipoPersona" required="true"/>
				        		{% for p in  tipoPersonas%}
				        			<option>{{p}}</option>
				        		{% endfor %}
				        	</select>*
				        </td>
				    </tr>
				    <tr>
				        <td><label>Tipo de Documento:</label></td>
				        <td>
				        	<select name="tipoDocumento" required="true">
				        		{% for d in  tipoDocumentos%}
				        			<option>{{d}}</option>
				        		{% endfor %}
				        	</select>*
				    	</td>
				    </tr>
				    <tr>
				        <td><label>Número de documento:</label></td>
				        <td><input type="text" name="numDocumento" required="true" pattern="[a-zA-z0-9_-]{6,20}"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Pais de residencia:</label></td>
				        <td><input type="text" name="paisResidencia" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Ciudad de residencia:</label></td>
				        <td><input type="text" name="ciudadResidencia" required="true"/>*</td>
				    </tr>
				    <tr>
				        <td><label>Dirección de residencia:</label></td>
				        <td><input type="text" name="dirResidencia" required="true"/>*</td>
				    </tr>				    					
					<tr>
						<th>Datos persona de contacto:</th>
					</tr>
					<tr>
				        <td><label>Nombre:</label></td>
				        <td><input type="text" name="nombrePersonaContacto"/></td>
				    </tr>
				    <tr>
				        <td><label>Teléfono:</label></td>
				        <td><input type="text" name="telContacto" pattern="[0-9]{7,12}"/></td>
				    </tr>		
				    <tr>
				        <td><label>Dirección:</label></td>
				        <td><input type="text" name="direccionContacto"/></td>
				    </tr>		    
				    <tr>
				        <td><input type="submit" value="Regístrate" name="registrar"/>
				    </tr>
				</tbody>			
			</table>
			<p class="text-info">Por favor ingrese todos los campos requeridos (*)</p>						
			</div>		
		</form>
	{%endif %}
{% endblock %}